@import views.html.helper.CSRF
@import views.html.helper.select
@import views.html.helper.options
@(prediction: String)(implicit request: RequestHeader, messages:
    Messages)

@main("NFATracker Analysis") {

    @prediction

    <form action="@{CSRF(routes.RowController.handleDateSubmit())}" method="POST">
        <div class="container">
            <div class='col-md-3'>
                <label>Earliest Date Filter: </label>
                <input type="text" class="ui-datepicker" id="baseDatePicker"
                size="10" name="base" />
            </div>
            <div class='col-md-3'>
                <label>Check Cashed: </label>
                <input type="text" class="ui-datepicker" id="checkCashedDatePicker"
                size="10" name="checkCashed"/>
            </div>
            <div class='col-md-3'>
                <select id="nfaItemType" name="type">
                    <option>-- Select an NFA Item Type --</option>
                </select>
            </div>
            <div class="'col-md-3">
                <button type="submit" class="btn btn-success">
                    Submit <span class="fa fa-arrow-right"></span></button>
            </div>
        </div>
    </form>
}
