@()(implicit request: RequestHeader, messages: Messages)

@main("NFATracker Analysis") {

    <div id="placeholder"></div>

    <div class="container">
        <div class='col-md-3'>
            <label for="baseDatePicker">Earliest Date Filter: </label>
            <input type="text" class="ui-datepicker" id="baseDatePicker"
            size="10" name="base" />
        </div>
        <div class='col-md-3'>
            <label for="checkCashedDatePicker">Check Cashed: </label>
            <input type="text" class="ui-datepicker" id="checkCashedDatePicker"
            size="10" name="checkCashed"/>
        </div>
        <div class='col-md-3'>
            <select title="NFA Item Selector" id="nfaItemType" name="type">
                <option value="">-- Select an NFA Item Type --</option>
            </select>
        </div>
        <div class="'colmd3">
            <button id="submitButton" type="submit" class="btn btnsuccess">
                Submit <span class="fa faarrowright"></span></button>
        </div>
    </div>
    <script>
            $('#baseDatePicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
            $('#checkCashedDatePicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
            const X_AUTO_MARGIN = 0.02;
            var data = [];
            var updateGraph = function () {
                data = [];
                var graphData = [];
                return $.getJSON("/data/" + $('#baseDatePicker').val() + '/'
                        + $('#nfaItemType').val(), function (rows) {
                    $.each(rows, function (id, row) {
                        graphData.push([row.checkCashedDate, row.approvedDate]);
                    });
                    data.push({
                        data: graphData,
                        points: {show: true}
                    });
                });
            };
            var showUpdate = function () {
                updateGraph().then(function () {
                    $.plot("#placeholder", data, {xaxis: {autoscaleMargin: X_AUTO_MARGIN}});
                });
            };
            var addPrediction = function () {
                updateGraph().then(function () {
                    $.getJSON("/predict/" + $('#checkCashedDatePicker').val() + '/'
                            + $('#baseDatePicker').val() + '/' + $('#nfaItemType').val(), function (dates) {
                        dates.forEach(function (x, idx) {
                            var regressionType = x.shift();
                            var date = x.pop();
                            data.push({
                                //color: "#ff0000",
                                data: [x],
                                shadowSize: 0,
                                points: {
                                    show: true,
                                    symbol: function (ctx, x, y, radius, shadow) {
                                        ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
                                        ctx.fill(); // fill it yourself
                                        ctx.fillStyle = "black";
                                        ctx.textAlign = 'left';
                                        ctx.fillText(regressionType + ": " + date, x - 185, y + 15*(idx % 2 == 0)); //now the text
                                    }
                                }
                            });
                        });
                        $.plot("#placeholder", data, {xaxis: {autoscaleMargin: X_AUTO_MARGIN}});
                    });
                });
            };
            $('#baseDatePicker').val("2016-01-01");
            showUpdate();
            $('#baseDatePicker').change(showUpdate);
            $('#nfaItemType').change(showUpdate);
            $('#checkCashedDatePicker').change(addPrediction);
            $('#submitButton').click(addPrediction);
    </script>
}
